.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: blue;

  height: 180px;

  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.input {
  width: 50%;
}

.button {
  border-style: solid;
  border-color: black;
}

.bottomButton {
  color: white;
  background-color: rgb(0, 0, 255);
  width: 135.8px;
  margin: 3px;
}

.formsHome {
  margin-top: 20px;
}

#numberGuests {
  width: 50px;
}

.guestList {
  margin-top: 14px;
  margin-right: 100px;
}

.centerInput {
  width: 500px;
  margin-left: 40%;
}

.addTask {
  margin-left: 100px;
  background-color: rgb(0, 0, 225);
}

.menuEvent {
  margin-top: 15px;
}

#contractorBudget {
  color: red;
}

#menuBudget{
  color: blue;
}

#equipmentBudget{
  color: green;
}

.columnButton {
  width: 90%;
  height: 150px;
}

.home {
  background-image: url("http://s1.picswalls.com/wallpapers/2016/06/16/planet-background_115145186_310.jpg");
  height: 989px;
}

.guest {
  background-color: yellow;
}

.nav-left {
  height: 55px;
}

.list {
  background: url("https://i.stack.imgur.com/8zEoh.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #333;
}

.guestHome {

  width: 600px;
  height: 600px;
}

.notePad {
  margin-right: 25px;
}

.emailInput {
  width: 90%;
}

.smallInput {
  width: 20%;
}